<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>第一个实例</title>
	<script src="./angular-1.5.7/angular.js"></script>
	<script src="./app.js"></script>
	<link rel="stylesheet" type="text/css" href="./demo.css">
</head>
<body>
<div class="menu">
	<a href="./index.html">menu</a>
</div>
<div class="mybody">
	<div id="result">
		<div ng-app="">
			<input type="text" ng-model="name">
			<p>name:{{name}}</p>
		</div>
	</div>
	<div id="code" ng-app="code-app" ng-controller="show_code">
		<button ng-click="toggle()">显示代码</button>
		<textarea ng-hide="code_area">
<div ng-app="">
	<input type="text" ng-model="name">
	<p>name:{{name}}</p>
</div>
		</textarea>
	</div>
</div>
<script type="text/javascript">
	var code_app = angular.module('code-app',[]);
	code_app.controller('show_code',function($scope){
		$scope.code_area = true;
		$scope.toggle = function(){
			$scope.code_area = !$scope.code_area;
		}
	});
	angular.bootstrap(document.getElementById('code'),['code-app']);
</script>

</body>
</html>