<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>表单验证</title>
	<script src="./angular-1.5.7/angular.js"></script>
	<script src="./angular-1.5.7/angular-route.js"></script>
	<link rel="stylesheet" type="text/css" href="./demo.css">
</head>
<body>
<div class="menu">
	<a href="./index.html">menu</a>
</div>
<div class="mybody">
	<div id="result">
		<form name="myForm" ng-app="myApp" ng-controller="validateCtr" novalidate>
			<p>用户名：</p>
			<input type="text" name="user" ng-model="user" required>
			<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
				<span ng-show="myForm.user.$error.required">*用户名是必须的</span>
			</span>
			<br>
			<p>邮箱：</p>
			<input type="email" name="email" ng-model="email" required>
			<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
				<span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
  				<span ng-show="myForm.email.$error.email">非法的邮箱。</span>
			</span>
			<p></p>
			<input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  myForm.email.$dirty && myForm.email.$invalid">

		</form>
	</div>
	<div id="code" ng-app="code-app" ng-controller="show_code">
		<button ng-click="toggle()">显示代码</button>
		<textarea ng-hide="code_area">
<div id="result">
	<form name="myForm" ng-app="myApp" ng-controller="validateCtr" novalidate>
		<p>用户名：</p>
		<input type="text" name="user" ng-model="user" required>
		<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
			<span ng-show="myForm.user.$error.required">*用户名是必须的</span>
		</span>
		<br>
		<p>邮箱：</p>
		<input type="email" name="email" ng-model="email" required>
		<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
			<span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
				<span ng-show="myForm.email.$error.email">非法的邮箱。</span>
		</span>
		<p></p>
		<input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  myForm.email.$dirty && myForm.email.$invalid">

	</form>
</div>
<script type="text/javascript">
	var myForm = angular.module('myApp',[]);
	myForm.controller('validateCtr',function($scope){
		$scope.user = 'szl';
		$scope.email = '123@qq.com';
	});
</script>			
		</textarea>
	</div>
</div>
<script type="text/javascript">
	var myForm = angular.module('myApp',[]);
	myForm.controller('validateCtr',function($scope){
		$scope.user = 'szl';
		$scope.email = '123@qq.com';
	});

	var code_app = angular.module('code-app',[]);
	code_app.controller('show_code',function($scope){
		$scope.code_area = true;
		$scope.toggle = function(){
			$scope.code_area = !$scope.code_area;
		}
	});
	angular.bootstrap(document.getElementById('code'),['code-app']);
</script>

</body>
</html>